.ip2y_bold {font-weight: 700;}
.ip2y_ul {list-style-type: square; margin: 5px 0px 3px 30px;}
.ip2y_tr {border-top-width: 2px; border-top-style: dashed; border-top-color: #e7e2e2;}
.ip2y_input, .ip2y_textarea {width: 100%; padding: 3px 24px 3px 8px !important;}
.ip2y_input::placeholder, .ip2y_textarea::placeholder {color: #ccc; font-style: italic;}
#ip2y_submit_clear_logs {margin-top: 5px;} #ip2y_no_group_id_arr, #ip2y_add_in_name_arr, #ip2y_params_arr, #ip2yp_exclude_cat_arr, #ip2ybe_books_cat_arr {min-height: 280px !important;} 
.wp-admin select {padding: 3px 24px 3px 8px !important;} /* .form-table {table-layout: fixed !important;} */
.meta-box-sortables select {width: 100% !important;}
.meta-box-sortables input[type="text"] {width: 100% !important;}
.meta-box-sortables input[type="number"] {width: 100% !important;}
.woocommerce table.form-table input[type="text"], .woocommerce table.form-table input[type="number"] {max-width: 100% !important;} 
/* ? .woocommerce table.form-table select, убрал тк. какой то конфликт со стилями YITH WooCommerce Tab Manager Premium при активной PRO */
#ip2y_extensions .form-table td p {font-size: 18px !important;}